.header-aboutMe {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $width-aboutMe;
}

.banner-aboutMe {
    width: 100%;
    flex-direction: column;
    align-items: center;

    span {
        margin-bottom: 10vh;
    }
}

.ins-aboutMe {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    div {
        width: 24%;
        height: 14.4vw;
        border-radius: 4%;
        overflow: hidden;
        position: relative;

        animation-name: pic-About;
        animation-duration: 20s;
        animation-iteration-count: infinite;

        @keyframes pic-About {
            0% {
                transform: rotateY(0deg);
            }

            10% {
                transform: rotateY(180deg);
            }
            50%{transform: rotateY(180deg);}
            60%{transform: rotateY(0deg);}
            100%{transform: rotateY(0deg);}
        }
    }
}

.section1-aboutMe {
    width: $width-aboutMe;
}

.moreAbout{
    width: $width-aboutMe;
    margin-top: 10vh;
    div{
        margin-left: 2%;
        margin-right: 2%;
        width: 1.5px;
        height: inherit;
        background-color: $mainColor;
    }
    a{
        color: $mainColor;
    }
    a:hover{
        transform: scale(1.05);
    }
}