.banner {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10%;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.headerList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    width: 50%;

    div {
        border-right: 2px solid $lightGray;
        height: 25px;
    }

    h4 {
        cursor: pointer;
    }
}

.logo {
    font-family: Rosario;
    letter-spacing: 0.13rem;
    color: $txtBlack;
}

nav {
    height: 6vh;
    background-color:rgba(255, 255, 255, 0.8);
    .logo {
        margin-left: 2%;
    }
}

.navbar-nav{
    align-items: flex-end;
    background-color:rgba(255, 255, 255, 0.8); 
}

.navbar-collapse {
    justify-content: flex-end;
    margin-top: 1.1vh;
}

.navbar-toggler {
    border: none;
}




//this is my work

.myWork {
    width: 100%;
    padding: 10%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 49.5%;
    margin-bottom: 1%;
}

.imgBox {
    background-color: $darkWhite;
    position: relative;
    overflow: hidden;
}

.posit-absolute {
    left: 0;
}

.workimg {
    width: 80%;
}

.tags {
    flex-wrap: wrap;
    p{
        margin-right: 5%;
    }
}

//this is about me

.aboutMe {
    width: 95%;
    flex-direction: column;
    align-items: center;
    background-color: $darkWhite;
    padding: 10%;

    h1 {
        margin-bottom: 2%;
    }

    span {
        margin-bottom: 20vh;
    }

    .title {
        -webkit-text-stroke: 0.85px $gray;
    }

    h2 {
        margin-bottom: 2vh;
    }
}

.selfIntro {
    margin-bottom: 30vh;
    width: 90%;
}

.selfItem {
    justify-content: space-between;

    img {
        max-width: 40%;
    }

    p {
        margin-bottom: 10vh;
    }

    a {
        display: block;
        border: 1px solid $txtBlack;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        width: fit-content;
    }
}

.selfList {
    flex-direction: column;
    width: 52%;
}

// this is footer

.footer {
    flex-direction: column;
    justify-content: center;
    padding: 6%;
    border-top: 1px solid $txtBlack;
    width: 95%;
    height: 40vh;
    margin-top: 20vh;

    div {
        flex-direction: column;
        text-align: center;
        margin-bottom: 5vh;
    }

    a {
        text-align: center;
    }
}