#goMail {
    bottom: 0;
    right: 0;
    align-items: center;
    text-align: center;
    font-size: 0.85rem;
    position: relative;
    img{
        position: absolute;
        left: 0;
        top: -6vh;
    }
}
#goMail:hover{
        .mailOpen{
            opacity: 1;
        }
        .mailClose{
            opacity: 0;
        }
        font-weight: bold;
}
.mailOpen{
    opacity: 0;
}
#goTop {
    bottom: 10vh;
    right: 0;
    :hover {
        animation-name: upAndDown;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        @keyframes upAndDown {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(4px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }
}

#goTop,
#goMail {
    position: fixed;
    width: 50px;
    z-index: 99;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10%;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.headerList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    width: 50%;

    div {
        border-right: 2px solid $lightGray;
        height: 25px;
    }

    h4 {
        cursor: pointer;
    }
}

.logo {
    font-family: Rosario;
    letter-spacing: 0.13rem;
    color: $txtBlack;
}

.navbar {
    background-color: rgba(255, 255, 255, 1);

    .logo {
        margin-left: 2%;
    }
}

.navbar-nav {
    align-items: flex-end;
    justify-content: center;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    border: none;
}


//this is my work

.myWork {
    width: 100%;
    padding: 10%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 32.6%;
    margin-bottom: 1%;
}

.imgBox {
    background-color: $darkWhite;
    position: relative;
    overflow: hidden;
}

.posit-absolute {
    left: 0;
}

.workimg {
    width: 80%;
}

.tags {
    flex-wrap: wrap;

    p {
        margin-right: 5%;
    }
}

.work-hvr-scale:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

//this is about me

.aboutMe {
    width: 95%;
    flex-direction: column;
    align-items: center;
    background-color: $darkWhite;
    padding: 5%;

    span {
        margin-bottom: 20vh;
    }

    .title {
        -webkit-text-stroke: 0.85px $gray;
    }

    h2 {
        margin-bottom: 2vh;
    }

    a {
        display: block;
        border: 1px solid $txtBlack;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        width: fit-content;
        margin-top: 10vh;
    }
}

.selfIntro {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;

    img {
        max-width: 35%;
    }
}

.selfItem {
    position: relative;
    width: 60%;
}

.selfList {
    flex-direction: column;
    width: 52%;
}

// this is footer

.footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
    border-top: 1px solid $txtBlack;
    width: 95%;
    height: 40vh;
    margin-top: 20vh;

    div {
        flex-direction: column;
        text-align: center;
        margin-bottom: 5vh;
    }

    a {
        text-align: center;
        width: fit-content;
    }

    a:hover {
        font-weight: bold;
    }
}