/* [http://meyerweb.com/eric/tools/css/reset/](http://meyerweb.com/eric/tools/css/reset/)
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {

    box-sizing: border-box;

}

/* my css reset */

img {
    height: auto;
    max-width: 100%;
}

body {
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    // font
    line-height: 1.2;
    font-family: 'Noto Sans SC', Helvetica, arial, sans-serif;
    letter-spacing: 0.05rem;
    font-weight: 400;
}


// text
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    color: $txtBlack;
}

a:hover {
    text-decoration: none;
    color: $txtBlack;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

.txtTags {
    font-size: 0.85rem;
    line-height: 1;
    color: $mainColor;
}

nav {
    color: $txtBlack;
}

.title {
    font-size: 8rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.85px $lightGray;
}

.txtBold {
    font-weight: bold;
}

.txtLightGray {
    color: $lightGray;
}

// layout
.flex {
    display: flex;
}

.posit-absolute {
    position: absolute;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.display-none {
    display: none;
}


.img-hvr {
    overflow: hidden;
}

// animation
.transEz-in-out {
    transition: 2s;
    transition-timing-function: ease-in-out;
}


//RWD
@media(max-width:1180px) {

    html {
        .title {
            font-size: 7rem;
        }

        //this is header---------
        .headerList {
            width: 70%;
        }

        //this is myWork---------

        .workList {
            h4 {
                font-size: 1rem;
            }

            p {
                font-size: 0.5rem;
            }
        }
        //this is aboutMe
        .selfItem{
            flex-direction: column;
            align-items: center;
            img{
                max-width: 80%;
            }
            div{
                width: 100%;
            }
        }
        .selfIntro{
            margin-bottom: 0;
            width: 100%;
        }
    }
}


@media(max-width:1030px) {

    html {
        .title {
            font-size: 6rem;
        }
    }

    //this is header---------
    nav {
        .menu {
            display: none;
        }

        .bugerMenu {
            display: block;
        }
    }

    //this is header---------
}

@media(max-width:888px) {
    html {
        .title {
            font-size: 5rem;
        }

        //this is header---------
        .headerList {
            flex-direction: column;
            align-items: flex-start;

            h4,
            a {
                margin-bottom: 1vh;
            }

            div {
                display: none;
            }
        }

        //this is myWork---------

    }

}


@media(max-width:768px) {
    html {
        font-size: 14px;

        //this is header---------
        .banner {
            margin-top: 10%;

            h2 {
                width: 90%;
            }
        }

        //this is myWrok---------
        .workList {
            flex-direction: column;

            h4 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .workBox50 {
            width: 100%;
            margin-bottom: 1vh;
            padding: 5%;
        }

        // this is about me

        .aboutMe {
            padding-left: 4%;
            padding-right: 4%;

            span {
                margin-top: 10vh;
                margin-bottom: 10vh;
            }
        }

        .selfIntro {
            width: 100%;
            margin: 0;
        }

        .selfItem {
   

            div {
                width: 100%;
            }
        }
        .selfList{
            align-items: center;
            a{
                margin-top: 10vh;
            }
        }
    }

}

@media(max-width:568px) {
    html {
        font-size: 12px;

        //this is header---------
        .header {
            justify-content: center;
        }

        .banner {
            align-items: center;
            text-align: center;
            padding: none;
        }

        .headerList {
            align-items: center;

            li,
            div {
                width: 100%;
                margin-top: 5vh;
            }

            div {
                display: block;
                border: none;
                background-color: $lightGray;
                border-radius: 10px;
                width: 100%;
                height: 0.15vh;
            }
        }

        //this is header---------
    }

}