/* [http://meyerweb.com/eric/tools/css/reset/](http://meyerweb.com/eric/tools/css/reset/)
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* my css reset */
img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
  font-family: 'Noto Sans SC', Helvetica, arial, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  color: #3d3d3d;
}

a:hover {
  text-decoration: none;
  color: cornflowerblue;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

li {
  line-height: 1.5;
  color: #3d3d3d;
}

.txtTags {
  font-size: 0.85rem;
  line-height: 1.5;
}

nav {
  color: #3d3d3d;
}

.title {
  font-size: 8rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.85px #d9d9d9;
}

.txtBold {
  font-weight: bold;
}

.txt-i {
  font-style: italic;
}

.txtLightGray {
  color: #d9d9d9;
}

.txtGray {
  color: #7c7c7c;
}

.txtMainColor {
  color: cornflowerblue;
}

.border-lightGray {
  border: 1px solid #d9d9d9;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posit-absolute {
  position: absolute;
}

.center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flex-direction-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display-none {
  display: none;
}

.img-hvr {
  overflow: hidden;
}

.transEz-in-out {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#goMail {
  bottom: 0vh;
  right: 0;
  position: relative;
  font-weight: bold;
  z-index: 99;
}

#goMail p {
  font-size: 0.85rem;
}

#goMail img {
  position: absolute;
  left: 0;
  top: -6vh;
}

.move {
  -webkit-transform: translateY(-8vh) scale(0.9);
          transform: translateY(-8vh) scale(0.9);
}

#goMail:hover .mailOpen {
  display: block;
  opacity: 1;
}

#goMail:hover .mailClose {
  display: none;
  opacity: 0;
}

.mailOpen {
  display: none;
  opacity: 0;
}

#goTop {
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 98;
  cursor: pointer;
}

#goTop :hover {
  -webkit-animation-name: upAndDown;
          animation-name: upAndDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes upAndDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upAndDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#goTop,
#goMail {
  position: fixed;
  width: 50px;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.banner-background {
  width: 40%;
  height: 100vh;
  right: 0;
  background-image: url("../img/banner-BACKGROUND.png");
  background-size: 50%;
  background-repeat: repeat-x;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letGo {
  width: 220px;
  height: 56px;
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 64px;
}

.letGo p {
  color: white;
}

.letGo:hover {
  background-color: cornflowerblue;
}

.logo {
  font-family: Rosario;
  letter-spacing: 0.13rem;
  color: #3d3d3d;
}

.navbar {
  background-color: white;
}

.navbar .logo {
  margin-left: 2%;
}

.navbar-nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: cornflowerblue;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-toggler {
  border: none;
}

.myWork {
  width: 100%;
  padding: 10%;
}

.workList {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.workList:hover .workimg {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.workList:hover .workimg-left {
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}

.workList:hover .workimg-right {
  -webkit-transform: translateX(250%);
          transform: translateX(250%);
}

.myWork-box {
  background-color: #f5f5f5;
  width: 49%;
  margin-right: 2vw;
  position: relative;
  overflow: hidden;
}

.workimg {
  max-width: 50%;
  position: absolute;
  top: 2%;
  left: 22%;
}

.workimg-left {
  width: 40%;
  position: absolute;
  top: 30%;
  right: -50%;
}

.workimg-right {
  width: 40%;
  position: absolute;
  top: 10%;
  left: -50%;
}

.workContent {
  width: 49%;
}

.workContent h2 {
  margin-bottom: 32px;
}

.viewAllWorks {
  margin-bottom: 128px;
}

.viewAllWorks a {
  color: #7c7c7c;
}

.viewAllWorks a:hover {
  color: cornflowerblue;
  font-weight: bold;
}

.aboutMe {
  width: 95%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  padding: 5%;
}

.aboutMe span {
  margin-bottom: 20vh;
}

.aboutMe .title {
  -webkit-text-stroke: 0.85px #7c7c7c;
}

.aboutMe h2 {
  margin-bottom: 2vh;
}

.aboutMe a {
  color: #7c7c7c;
}

.aboutMe a:hover {
  font-weight: bold;
  color: cornflowerblue;
}

.selfIntro {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selfIntro img {
  max-width: 35%;
}

.selfItem {
  position: relative;
  width: 60%;
}

.selfItem img {
  display: none;
}

.selfItem p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selfList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 52%;
}

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6%;
  border-top: 1px solid #3d3d3d;
  width: 95%;
  height: 40vh;
  margin-top: 20vh;
}

.footer div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 5vh;
}

.footer a {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer a:hover {
  font-weight: bold;
}

@media (max-width: 1180px) {
  html .title {
    font-size: 7rem;
  }
  html .selfIntro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html .selfIntro img {
    max-width: 80%;
  }
  html .selfIntro div {
    width: 100%;
  }
}

@media (max-width: 1030px) {
  html .title {
    font-size: 6rem;
  }
}

@media (max-width: 888px) {
  html .title {
    font-size: 5rem;
  }
  html .banner div {
    width: 150px;
  }
  html .workList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html .workContent {
    margin-top: 2%;
    width: 100%;
  }
  html .workContent h2 {
    margin-bottom: 8px;
  }
  html .myWork-box {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  html .aboutMe span {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  html .selfIntro img {
    content: url("../img/view.jpeg");
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  html .selfItem p img {
    display: block;
    content: url("../img/me.jpeg");
  }
}

@media (max-width: 568px) {
  html br {
    display: none;
  }
  html .banner {
    width: 100%;
  }
}

.aboutContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.aboutContainer div {
  margin-bottom: 64px;
  width: 100%;
}

.aboutContainer h4,
.aboutContainer h2 {
  margin-bottom: 8px;
}

.aboutContainer ul {
  list-style: circle;
  margin-left: 32px;
  margin-top: 16px;
}

.aboutContainer ol {
  list-style: decimal;
  margin-top: 16px;
}

.aboutContainer ol li {
  margin-left: 32px;
  margin-top: 16px;
}

.aboutContainer a {
  text-decoration: underline;
}

.width-aboutMe {
  width: 60%;
}

.header-aboutMe {
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-aboutMe {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-aboutMe span {
  margin-bottom: 10vh;
}

.ins-aboutMe {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.ins-aboutMe div {
  width: 24%;
  height: 14.4vw;
  border-radius: 4%;
  overflow: hidden;
  position: relative;
  -webkit-animation-name: pic-About;
          animation-name: pic-About;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pic-About {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  10% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes pic-About {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  10% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.moreAbout {
  margin-top: 10vh;
}

.moreAbout div {
  margin-left: 2%;
  margin-right: 2%;
  width: 1.5px;
  height: inherit;
  background-color: cornflowerblue;
}

.moreAbout a {
  color: cornflowerblue;
}

.moreAbout a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 768px) {
  .width-aboutMe {
    width: 80%;
  }
  .ins-aboutMe div {
    width: 49.5%;
    height: 25vw;
    margin-bottom: 1%;
  }
  .ins-aboutMe img {
    width: 100%;
  }
}

.header-works {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.banner-works {
  margin-top: 20vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Work {
  width: 100%;
  padding: 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: 32.6%;
  margin-bottom: 1%;
}

.imgBox {
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

.tags {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags p {
  margin-right: 5%;
}

.work-hvr-scale:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

@media (max-width: 1080px) {
  .card {
    width: 49.5%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 2%;
  }
}

.workContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20vh;
  max-width: 720px;
}

.workContainer div {
  margin-bottom: 64px;
  width: 100%;
}

.workContainer h4,
.workContainer h2 {
  margin-bottom: 8px;
}

.workContainer ul {
  list-style: circle;
  margin-left: 32px;
  margin-top: 16px;
}

.workContainer ol {
  list-style: decimal;
  margin-top: 16px;
}

.workContainer ol li {
  margin-left: 32px;
  margin-top: 16px;
}

.workContainer a {
  text-decoration: underline;
}

.work-header {
  text-align: center;
}

.work-header h2 {
  font-weight: bold;
  margin-bottom: 4px;
}

.work-header p {
  margin-bottom: 64px;
  color: #7c7c7c;
}

.work-role {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-role span {
  width: 30%;
  margin-bottom: 64px;
}

.work-role p {
  margin-bottom: 4px;
}

.work-design-highlight {
  background-color: #f5f5f5;
  padding: 2%;
}

.work-design-highlight h4 {
  font-style: italic;
}

.work-know-more-process {
  cursor: default;
  margin-bottom: 192px !important;
  color: #7c7c7c;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: upAndDown;
          animation-name: upAndDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.work-process {
  position: relative;
}

.work-process .transitional-text {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #3d3d3d;
  overflow: hidden;
  -webkit-text-stroke: none;
  -webkit-animation-name: textfill;
          animation-name: textfill;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes textfill {
  0% {
    height: 0%;
  }
  100% {
    height: 90%;
  }
}

@keyframes textfill {
  0% {
    height: 0%;
  }
  100% {
    height: 90%;
  }
}

.work-background-research {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
}

.work-img-box img,
.work-img-box iframe {
  margin-bottom: 2%;
}

.work-carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-carousel div {
  margin-bottom: 0px;
}

#carouselControl1,
#carouselControl2,
#carouselControl3 {
  position: relative;
  width: 85%;
  border: 8px solid #f5f5f5;
}

.carousel-txt {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgba(217, 217, 217, 0.2);
  padding: 1%;
}

.carousel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  position: absolute;
  top: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-btn img {
  opacity: 40%;
}

.carousel-btn :hover {
  opacity: 100%;
}

.tip-box {
  color: #d9d9d9;
  cursor: help;
}

.tip-box:hover {
  color: cornflowerblue;
}

.tip-box:hover .float-tip {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: cornflowerblue;
  padding: 1%;
  width: 100%;
}

.tip-box:hover .float-tip span {
  color: white;
}

.float-tip {
  display: none;
}

.final-design-gif {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 16px;
}

.final-design-gif img {
  -webkit-filter: drop-shadow(-8px 8px 7px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(-8px 8px 7px rgba(0, 0, 0, 0.15));
}

@media (max-width: 768px) {
  .workContainer {
    width: 92%;
  }
  iframe {
    width: 92vw;
    height: 52vw;
  }
}
/*# sourceMappingURL=all.css.map */