/* [http://meyerweb.com/eric/tools/css/reset/](http://meyerweb.com/eric/tools/css/reset/)
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* my css reset */
img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
  font-family: 'Noto Sans SC', Helvetica, arial, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  color: #3d3d3d;
}

a:hover {
  text-decoration: none;
  color: #3d3d3d;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.txtTags {
  font-size: 0.85rem;
  line-height: 1;
  color: #007A78;
}

nav {
  color: #3d3d3d;
}

.title {
  font-size: 8rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.85px #d9d9d9;
}

.txtBold {
  font-weight: bold;
}

.txtLightGray {
  color: #d9d9d9;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posit-absolute {
  position: absolute;
}

.center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.display-none {
  display: none;
}

.img-hvr {
  overflow: hidden;
}

.transEz-in-out {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1180px) {
  html .title {
    font-size: 7rem;
  }
  html .headerList {
    width: 70%;
  }
  html .workList h4 {
    font-size: 1rem;
  }
  html .workList p {
    font-size: 0.5rem;
  }
  html .selfItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html .selfItem img {
    width: 80%;
  }
  html .selfItem div {
    width: 100%;
  }
  html .selfIntro {
    margin-bottom: 0;
    width: 100%;
  }
}

@media (max-width: 1030px) {
  html .title {
    font-size: 6rem;
  }
  nav .menu {
    display: none;
  }
  nav .bugerMenu {
    display: block;
  }
}

@media (max-width: 888px) {
  html .title {
    font-size: 5rem;
  }
  html .headerList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  html .headerList h4,
  html .headerList a {
    margin-bottom: 1vh;
  }
  html .headerList div {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  html .banner {
    margin-top: 10%;
  }
  html .banner h2 {
    width: 90%;
  }
  html .workList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html .workList h4 {
    font-size: 1.5rem;
  }
  html .workList p {
    font-size: 1rem;
  }
  html .workBox50 {
    width: 100%;
    margin-bottom: 1vh;
    padding: 5%;
  }
  html .aboutMe {
    padding-left: 2%;
    padding-right: 2%;
  }
  html .aboutMe span {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  html .selfIntro {
    width: 100%;
    margin: 0;
    margin-bottom: 10vh;
  }
  html .selfItem div {
    width: 100%;
  }
  html .selfList {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html .selfList a {
    margin-top: 10vh;
  }
}

@media (max-width: 568px) {
  html {
    font-size: 12px;
  }
  html .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html .banner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: none;
  }
  html .headerList {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html .headerList li,
  html .headerList div {
    width: 100%;
    margin-top: 5vh;
  }
  html .headerList div {
    display: block;
    border: none;
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 100%;
    height: 0.15vh;
  }
}

.banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 10%;
}

.header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
}

.headerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10vh;
  width: 50%;
}

.headerList div {
  border-right: 2px solid #d9d9d9;
  height: 25px;
}

.headerList h4 {
  cursor: pointer;
}

.logo {
  font-family: Rosario;
  letter-spacing: 0.13rem;
  color: #3d3d3d;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding-left: 5%;
  padding-right: 5%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 272px;
}

.bugerMenu {
  display: none;
}

.myWork {
  width: 100%;
  padding: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1%;
}

.workName {
  z-index: 99;
  opacity: 0;
}

.workBox50 {
  background-color: #f5f5f5;
  display: block;
  padding: 3%;
  width: 49.5%;
  position: relative;
}

.workBox50:hover .workName {
  opacity: 1;
}

.workBox50:hover .workimg {
  -webkit-transform: rotate(15deg) translate(10%);
          transform: rotate(15deg) translate(10%);
}

.workimg {
  width: 80%;
}

.tags {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2%;
}

.tags p {
  margin-bottom: 0.5vh;
}

.aboutMe {
  width: 95%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  padding: 10%;
}

.aboutMe h1 {
  margin-bottom: 2%;
}

.aboutMe span {
  margin-bottom: 20vh;
}

.aboutMe .title {
  -webkit-text-stroke: 0.85px #7c7c7c;
}

.aboutMe h2 {
  margin-bottom: 2vh;
}

.selfIntro {
  margin-bottom: 30vh;
  width: 90%;
}

.selfItem {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selfItem img {
  width: 40%;
}

.selfItem p {
  margin-bottom: 10vh;
}

.selfItem a {
  display: block;
  border: 1px solid #3d3d3d;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.selfList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 52%;
}

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6%;
  border-top: 1px solid #3d3d3d;
  width: 95%;
  height: 40vh;
  margin-top: 20vh;
}

.footer div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 5vh;
}

.footer a {
  text-align: center;
}
/*# sourceMappingURL=all.css.map */