.workContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    max-width: 720px;

    div {
        margin-bottom: 64px;
        width: 100%;
    }

    h4,
    h2 {
        margin-bottom: 8px;
    }

    ul {
        list-style: circle;
        margin-left: 32px;
        margin-top: 16px;
    }

    ol {
        list-style: decimal;
        margin-top: 16px;

        li {
            margin-left: 32px;
            margin-top: 16px;
        }
    }

    a {
        text-decoration: underline;
    }

}

.work-header {
    h2 {
        font-weight: bold;
        margin-bottom: 4px;
    }

    p {
        margin-bottom: 64px;
        color: $gray;
    }

    text-align: center;
}

.work-role {
    justify-content: space-between;

    span {
        width: 30%;
        margin-bottom: 64px;
    }

    p {
        margin-bottom: 4px;
    }
}

.work-design-highlight {
    background-color: $darkWhite;
    padding: 2%;

    h4 {
        font-style: italic;
    }
}

.work-know-more-process {
    cursor: default;
    margin-bottom: 192px !important;
    color: $gray;
    flex-direction: column;
    align-items: center;
    //animation:upAndDown is in _index.scss
    animation-name: upAndDown;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.work-process {
    position: relative;

    .transitional-text {
        position: absolute;
        top: 0px;
        left: 0px;
        color: $txtBlack;
        overflow: hidden;
        -webkit-text-stroke: none;
        animation-name: textfill;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes textfill {
        0% {
            height: 0%;
        }

        100% {
            height: 90%;
        }
    }
}

.work-background-research {
    flex-direction: column;
}


.work-img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;

    img,
    iframe {
        margin-bottom: 2%;
    }
}

.work-carousel {
    position: relative;
    display: flex;
    justify-content: center;

    div {
        margin-bottom: 0px;
    }
}

#carouselControl1,
#carouselControl2,
#carouselControl3 {
    position: relative;
    width: 85%;
    border: 8px solid $darkWhite;
}

.carousel-txt {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.2);
    padding: 1%;
}

.carousel-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    position: absolute;
    top: 50%;
    padding-left: 20px;
    padding-right: 20px;

    img {
        opacity: 40%;
    }

    :hover {
        opacity: 100%;
    }
}


.tip-box {
    color: $lightGray;
    cursor: help;
}

.tip-box:hover {
    color: $mainColor;

    .float-tip {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: $mainColor;
        padding: 1%;
        width: 100%;

        span {
            color: white;
        }
    }

}

.float-tip {
   display: none;
}

.final-design-gif {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: $darkWhite;
    padding:16px;
    img {
        filter: drop-shadow(-8px 8px 7px rgba(0, 0, 0, 0.15))
    }
}















@media(max-width:768px) {
    .workContainer {
        width: 92%;
    }

    iframe {
        width: 92vw;
        height: 52vw;
    }
}