/* [http://meyerweb.com/eric/tools/css/reset/](http://meyerweb.com/eric/tools/css/reset/)
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {

    box-sizing: border-box;

}

/* my css reset */

button{
    background-color: transparent;
    border: none;
}
button:hover{
    color: $mainColor;
}

img {
    height: auto;
    max-width: 100%;
}

body {
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    // font
    line-height: 1.2;
    font-family: 'Noto Sans SC', Helvetica, arial, sans-serif;
    letter-spacing: 0.05rem;
    font-weight: 400;
}


// text
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li{
    color: $txtBlack;
}

a:hover {
    text-decoration: none;
    color: $mainColor;
}



h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

li{
    line-height: 1.5;
    color: $txtBlack;
}


.txtTags {
    font-size: 0.85rem;
    line-height: 1.5;
}

nav {
    color: $txtBlack;
}

.title {
    font-size: 8rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.85px $lightGray;
}

.txtBold {
    font-weight: bold;
}

.txt-i{
    font-style: italic;
}

.txtLightGray {
    color: $lightGray;
}

.txtGray{
    color: $gray;
}

.txtMainColor{
    color: $mainColor;
}

.border-lightGray{
    border: 1px solid $lightGray;
}

// layout
.flex {
    display: flex;
}

.posit-absolute {
    position: absolute;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flex-direction-column{
    display: flex;
    flex-direction: column;
}


.display-none {
    display: none;
}


.img-hvr {
    overflow: hidden;
}

// animation
.transEz-in-out {
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}


