.header-works {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner-works {
    margin-top: 20vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Work {
    width: 100%;
    padding: 10%;
    flex-wrap: wrap;
    column-gap: 2%;
}

.card {
    width: 32%;
    margin-bottom: 2%;
}

.imgBox {
    background-color: $darkWhite;
    position: relative;
    overflow: hidden;
}


.tags {
    flex-wrap: wrap;

    p {
        margin-right: 5%;
    }
}

.work-hvr-scale:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    z-index: 1;
}


@media(max-width:1080px) {

    .card {
        width: 49.5%;
    }
}

@media(max-width:768px) {

    .card {
        width: 100%;
        margin-bottom: 4%;
    }
}